exportPattern("^[[:alpha:]]+")

importFrom(matrixStats, madDiff, colMins, colMaxs)
importFrom(gtools, mixedorder)
importFrom(BiocParallel, bplapply, bpworkers)
importFrom(data.table, data.table)
importFrom(GenomeInfoDb, seqlevels, 'seqlevels<-')
import(chipseq)
import(S4Vectors)
import(IRanges)
import(Rsamtools)
import(DNAcopy)
import(GenomicAlignments)
import(GenomicRanges)
import(CopyhelpeR)
import(futile.logger)
